.banner {
    background-image: url(../PORTFOLIO/images/nils-schirmer-pSQSGLEv4fk-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.paddingtop {
    padding-top: 250px;
    padding-bottom: 50px;
}