.banner {
    background-image: url(../PORTFOLIO/images/pexels-ann-h-45017-1762851.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.paddingtop {
    padding-top: 250px;
    padding-bottom: 50px;
}